USE [QuanLyCamDo]
GO
/****** Object:  StoredProcedure [dbo].[sp_XuLyTraNo]    Script Date: 11/05/2026 03:18:06 SA ******/
DROP PROCEDURE [dbo].[sp_XuLyTraNo]
GO
/****** Object:  StoredProcedure [dbo].[sp_XemLichSuThanhToan]    Script Date: 11/05/2026 03:18:06 SA ******/
DROP PROCEDURE [dbo].[sp_XemLichSuThanhToan]
GO
/****** Object:  StoredProcedure [dbo].[sp_GiaHanHopDong]    Script Date: 11/05/2026 03:18:06 SA ******/
DROP PROCEDURE [dbo].[sp_GiaHanHopDong]
GO
/****** Object:  StoredProcedure [dbo].[sp_DangKyHopDong]    Script Date: 11/05/2026 03:18:06 SA ******/
DROP PROCEDURE [dbo].[sp_DangKyHopDong]
GO
ALTER TABLE [dbo].[HOPDONG] DROP CONSTRAINT [CK__HOPDONG__TrangTh__71D1E811]
GO
ALTER TABLE [dbo].[HOPDONG] DROP CONSTRAINT [CK__HOPDONG__SoTienV__6FE99F9F]
GO
ALTER TABLE [dbo].[CHI_TIET_CAMDO] DROP CONSTRAINT [CK__CHI_TIET___Trang__787EE5A0]
GO
ALTER TABLE [dbo].[CHI_TIET_CAMDO] DROP CONSTRAINT [CK__CHI_TIET___GiaTr__76969D2E]
GO
ALTER TABLE [dbo].[LICH_SU_GIAO_DICH] DROP CONSTRAINT [FK__LICH_SU_GI__MaHD__0A688BB1]
GO
ALTER TABLE [dbo].[HOPDONG] DROP CONSTRAINT [FK__HOPDONG__MaKH__73BA3083]
GO
ALTER TABLE [dbo].[CHI_TIET_CAMDO] DROP CONSTRAINT [FK__CHI_TIET_C__MaHD__797309D9]
GO
ALTER TABLE [dbo].[LICH_SU_GIAO_DICH] DROP CONSTRAINT [DF__LICH_SU_G__NgayG__09746778]
GO
ALTER TABLE [dbo].[KHACHHANG] DROP CONSTRAINT [DF__KHACHHANG__NgayD__6D0D32F4]
GO
ALTER TABLE [dbo].[KHACH_HANG] DROP CONSTRAINT [DF__KHACH_HAN__NgayD__398D8EEE]
GO
ALTER TABLE [dbo].[HOPDONG] DROP CONSTRAINT [DF__HOPDONG__NgayLap__72C60C4A]
GO
ALTER TABLE [dbo].[HOPDONG] DROP CONSTRAINT [DF__HOPDONG__TrangTh__70DDC3D8]
GO
ALTER TABLE [dbo].[CHI_TIET_CAMDO] DROP CONSTRAINT [DF__CHI_TIET___Trang__778AC167]
GO
/****** Object:  Index [UQ__KHACHHAN__CA1930A5F54FB8AA]    Script Date: 11/05/2026 03:18:06 SA ******/
ALTER TABLE [dbo].[KHACHHANG] DROP CONSTRAINT [UQ__KHACHHAN__CA1930A5F54FB8AA]
GO
/****** Object:  Index [UQ__KHACHHAN__A955A0AAA6DC256B]    Script Date: 11/05/2026 03:18:06 SA ******/
ALTER TABLE [dbo].[KHACHHANG] DROP CONSTRAINT [UQ__KHACHHAN__A955A0AAA6DC256B]
GO
/****** Object:  Index [UQ__KHACH_HA__CA1930A5BE0E2DCE]    Script Date: 11/05/2026 03:18:06 SA ******/
ALTER TABLE [dbo].[KHACH_HANG] DROP CONSTRAINT [UQ__KHACH_HA__CA1930A5BE0E2DCE]
GO
/****** Object:  Index [UQ__KHACH_HA__A955A0AAC34B9E72]    Script Date: 11/05/2026 03:18:06 SA ******/
ALTER TABLE [dbo].[KHACH_HANG] DROP CONSTRAINT [UQ__KHACH_HA__A955A0AAC34B9E72]
GO
/****** Object:  Table [dbo].[LICH_SU_GIAO_DICH]    Script Date: 11/05/2026 03:18:06 SA ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LICH_SU_GIAO_DICH]') AND type in (N'U'))
DROP TABLE [dbo].[LICH_SU_GIAO_DICH]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 11/05/2026 03:18:06 SA ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KHACHHANG]') AND type in (N'U'))
DROP TABLE [dbo].[KHACHHANG]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 11/05/2026 03:18:06 SA ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KHACH_HANG]') AND type in (N'U'))
DROP TABLE [dbo].[KHACH_HANG]
GO
/****** Object:  Table [dbo].[HOPDONG]    Script Date: 11/05/2026 03:18:06 SA ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HOPDONG]') AND type in (N'U'))
DROP TABLE [dbo].[HOPDONG]
GO
/****** Object:  Table [dbo].[CHI_TIET_CAMDO]    Script Date: 11/05/2026 03:18:06 SA ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CHI_TIET_CAMDO]') AND type in (N'U'))
DROP TABLE [dbo].[CHI_TIET_CAMDO]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyTransaction]    Script Date: 11/05/2026 03:18:06 SA ******/
DROP FUNCTION [dbo].[fn_CalcMoneyTransaction]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyContract]    Script Date: 11/05/2026 03:18:06 SA ******/
DROP FUNCTION [dbo].[fn_CalcMoneyContract]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyContract]    Script Date: 11/05/2026 03:18:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_CalcMoneyContract](
    @MaHD INT, 
    @TargetDate DATE
) 
RETURNS DECIMAL(15,2)
AS
BEGIN
    DECLARE @Goc DECIMAL(15,2);
    DECLARE @Deadline1 DATE;
    DECLARE @NgayLap DATE;
    DECLARE @D1_days INT;
    DECLARE @After_D1_days INT;
    DECLARE @LaiDon DECIMAL(15,2);
    DECLARE @TienCanTra DECIMAL(15,2);
    DECLARE @Rate DECIMAL(5,4) = 0.005; -- 0.5%/ngày
    
    -- Lấy thông tin hợp đồng
    SELECT @Goc = SoTienVay, @Deadline1 = Deadline1, @NgayLap = NgayLap
    FROM HOPDONG WHERE MaHD = @MaHD;
    
    -- Nếu không tìm thấy hợp đồng, trả về 0
    IF @Goc IS NULL 
        RETURN 0; 
    
    -- Tính số ngày từ ngày lập đến min(TargetDate, Deadline1)
    SET @D1_days = DATEDIFF(DAY, @NgayLap, 
        CASE WHEN @TargetDate < @Deadline1 THEN @TargetDate ELSE @Deadline1 END);
    
    IF @D1_days < 0 
        SET @D1_days = 0; 
    
    -- Tính lãi đơn cho giai đoạn 1
    SET @LaiDon = @Goc * @Rate * @D1_days;
    
    -- Nếu TargetDate vượt Deadline1 -> tính lãi kép cho giai đoạn 2
    IF @TargetDate > @Deadline1 
    BEGIN
        SET @After_D1_days = DATEDIFF(DAY, @Deadline1, @TargetDate);
        SET @TienCanTra = (@Goc + @LaiDon) * POWER(1 + @Rate, @After_D1_days);
    END
    ELSE
    BEGIN
        SET @TienCanTra = @Goc + @LaiDon;
    END
    
    RETURN ROUND(@TienCanTra, 2);
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyTransaction]    Script Date: 11/05/2026 03:18:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_CalcMoneyTransaction](
    @TransactionID INT, 
    @TargetDate DATE
) 
RETURNS DECIMAL(15,2)
AS
BEGIN
    -- Gọi function chính để tính toán
    RETURN dbo.fn_CalcMoneyContract(@TransactionID, @TargetDate);
END
GO
/****** Object:  Table [dbo].[CHI_TIET_CAMDO]    Script Date: 11/05/2026 03:18:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_CAMDO](
	[MaCT] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NOT NULL,
	[TenTaiSan] [nvarchar](100) NOT NULL,
	[GiaTriDinhGia] [decimal](15, 2) NOT NULL,
	[TrangThaiTS] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOPDONG]    Script Date: 11/05/2026 03:18:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOPDONG](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[SoTienVay] [decimal](15, 2) NOT NULL,
	[Deadline1] [date] NOT NULL,
	[Deadline2] [date] NOT NULL,
	[TrangThaiHD] [nvarchar](50) NULL,
	[NgayLap] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 11/05/2026 03:18:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](100) NOT NULL,
	[SDT] [varchar](15) NOT NULL,
	[CCCD] [varchar](12) NOT NULL,
	[DiaChi] [nvarchar](255) NULL,
	[NgayDangKy] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 11/05/2026 03:18:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](100) NOT NULL,
	[SDT] [varchar](15) NOT NULL,
	[CCCD] [varchar](12) NOT NULL,
	[DiaChi] [nvarchar](255) NULL,
	[NgayDangKy] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICH_SU_GIAO_DICH]    Script Date: 11/05/2026 03:18:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICH_SU_GIAO_DICH](
	[MaGD] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NOT NULL,
	[NgayGD] [datetime] NULL,
	[LoaiGD] [nvarchar](50) NULL,
	[SoTienTra] [decimal](15, 2) NOT NULL,
	[NguoiThu] [nvarchar](100) NULL,
	[DuNoConLai] [decimal](15, 2) NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CHI_TIET_CAMDO] ON 

INSERT [dbo].[CHI_TIET_CAMDO] ([MaCT], [MaHD], [TenTaiSan], [GiaTriDinhGia], [TrangThaiTS]) VALUES (57, 80, N'Xe máy Honda Air Blade', CAST(25000000.00 AS Decimal(15, 2)), N'Đã trả khách')
INSERT [dbo].[CHI_TIET_CAMDO] ([MaCT], [MaHD], [TenTaiSan], [GiaTriDinhGia], [TrangThaiTS]) VALUES (58, 80, N'Điện thoại iPhone 14 Pro', CAST(10000000.00 AS Decimal(15, 2)), N'Đã trả khách')
INSERT [dbo].[CHI_TIET_CAMDO] ([MaCT], [MaHD], [TenTaiSan], [GiaTriDinhGia], [TrangThaiTS]) VALUES (59, 81, N'Xe máy Honda Air Blade', CAST(25000000.00 AS Decimal(15, 2)), N'Đang cầm cố')
SET IDENTITY_INSERT [dbo].[CHI_TIET_CAMDO] OFF
GO
SET IDENTITY_INSERT [dbo].[HOPDONG] ON 

INSERT [dbo].[HOPDONG] ([MaHD], [MaKH], [SoTienVay], [Deadline1], [Deadline2], [TrangThaiHD], [NgayLap]) VALUES (80, 16, CAST(25000000.00 AS Decimal(15, 2)), CAST(N'2026-06-10' AS Date), CAST(N'2026-12-10' AS Date), N'Đã thanh toán', CAST(N'2026-05-01' AS Date))
INSERT [dbo].[HOPDONG] ([MaHD], [MaKH], [SoTienVay], [Deadline1], [Deadline2], [TrangThaiHD], [NgayLap]) VALUES (81, 17, CAST(30000000.00 AS Decimal(15, 2)), CAST(N'2026-07-15' AS Date), CAST(N'2027-01-15' AS Date), N'Đang vay', CAST(N'2026-05-10' AS Date))
INSERT [dbo].[HOPDONG] ([MaHD], [MaKH], [SoTienVay], [Deadline1], [Deadline2], [TrangThaiHD], [NgayLap]) VALUES (82, 18, CAST(15000001.00 AS Decimal(15, 2)), CAST(N'2026-11-11' AS Date), CAST(N'2027-05-11' AS Date), N'Đang vay', CAST(N'2026-05-11' AS Date))
SET IDENTITY_INSERT [dbo].[HOPDONG] OFF
GO
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [SDT], [CCCD], [DiaChi], [NgayDangKy]) VALUES (16, N'Nguyễn Văn Anh', N'0912345678', N'010929012345', NULL, CAST(N'2026-05-01T10:30:00.000' AS DateTime))
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [SDT], [CCCD], [DiaChi], [NgayDangKy]) VALUES (17, N'Trần Thị Bình', N'0987654321', N'079088001234', NULL, CAST(N'2026-05-10T21:50:15.223' AS DateTime))
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [SDT], [CCCD], [DiaChi], [NgayDangKy]) VALUES (18, N'Trần Thị Bích', N'0912223344', N'079088002222', NULL, CAST(N'2025-09-15T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[LICH_SU_GIAO_DICH] ON 

INSERT [dbo].[LICH_SU_GIAO_DICH] ([MaGD], [MaHD], [NgayGD], [LoaiGD], [SoTienTra], [NguoiThu], [DuNoConLai], [GhiChu]) VALUES (1, 83, CAST(N'2026-05-11T02:58:59.887' AS DateTime), N'Gia hạn hợp đồng', CAST(2905200.00 AS Decimal(15, 2)), N'Hệ thống', CAST(18000000.00 AS Decimal(15, 2)), N'Thanh toán lãi để gia hạn hợp đồng')
INSERT [dbo].[LICH_SU_GIAO_DICH] ([MaGD], [MaHD], [NgayGD], [LoaiGD], [SoTienTra], [NguoiThu], [DuNoConLai], [GhiChu]) VALUES (2, 83, CAST(N'2026-05-11T03:05:07.977' AS DateTime), NULL, CAST(2905200.00 AS Decimal(15, 2)), N'Hệ thống', CAST(18000000.00 AS Decimal(15, 2)), N'Thanh toán lãi để gia hạn hợp đồng')
INSERT [dbo].[LICH_SU_GIAO_DICH] ([MaGD], [MaHD], [NgayGD], [LoaiGD], [SoTienTra], [NguoiThu], [DuNoConLai], [GhiChu]) VALUES (3, 83, CAST(N'2026-05-11T03:05:13.223' AS DateTime), N'Gia hạn hợp đồng', CAST(2905200.00 AS Decimal(15, 2)), N'Hệ thống', CAST(18000000.00 AS Decimal(15, 2)), N'Thanh toán lãi để gia hạn hợp đồng')
SET IDENTITY_INSERT [dbo].[LICH_SU_GIAO_DICH] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KHACH_HA__A955A0AAC34B9E72]    Script Date: 11/05/2026 03:18:06 SA ******/
ALTER TABLE [dbo].[KHACH_HANG] ADD UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KHACH_HA__CA1930A5BE0E2DCE]    Script Date: 11/05/2026 03:18:06 SA ******/
ALTER TABLE [dbo].[KHACH_HANG] ADD UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KHACHHAN__A955A0AAA6DC256B]    Script Date: 11/05/2026 03:18:06 SA ******/
ALTER TABLE [dbo].[KHACHHANG] ADD UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KHACHHAN__CA1930A5F54FB8AA]    Script Date: 11/05/2026 03:18:06 SA ******/
ALTER TABLE [dbo].[KHACHHANG] ADD UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHI_TIET_CAMDO] ADD  DEFAULT (N'Đang cầm cố') FOR [TrangThaiTS]
GO
ALTER TABLE [dbo].[HOPDONG] ADD  DEFAULT (N'Đang vay') FOR [TrangThaiHD]
GO
ALTER TABLE [dbo].[HOPDONG] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[KHACH_HANG] ADD  DEFAULT (getdate()) FOR [NgayDangKy]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  DEFAULT (getdate()) FOR [NgayDangKy]
GO
ALTER TABLE [dbo].[LICH_SU_GIAO_DICH] ADD  DEFAULT (getdate()) FOR [NgayGD]
GO
ALTER TABLE [dbo].[CHI_TIET_CAMDO]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOPDONG] ([MaHD])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LICH_SU_GIAO_DICH]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOPDONG] ([MaHD])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHI_TIET_CAMDO]  WITH CHECK ADD CHECK  (([GiaTriDinhGia]>(0)))
GO
ALTER TABLE [dbo].[CHI_TIET_CAMDO]  WITH CHECK ADD CHECK  (([TrangThaiTS]=N'Đã bán thanh lý' OR [TrangThaiTS]=N'Sẵn sàng thanh lý' OR [TrangThaiTS]=N'Đã trả khách' OR [TrangThaiTS]=N'Đang cầm cố'))
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD CHECK  (([SoTienVay]>(0)))
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD CHECK  (([TrangThaiHD]=N'Đã thanh lý tài sản' OR [TrangThaiHD]=N'Đã thanh toán' OR [TrangThaiHD]=N'Đang trả góp' OR [TrangThaiHD]=N'Quá hạn (nợ xấu)' OR [TrangThaiHD]=N'Đang vay'))
GO
/****** Object:  StoredProcedure [dbo].[sp_DangKyHopDong]    Script Date: 11/05/2026 03:18:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DangKyHopDong]
    @TenKH NVARCHAR(100),
    @SDT VARCHAR(15),
    @CCCD VARCHAR(12),
    @SoTienVay DECIMAL(15,2),
    @Deadline1 DATE,
    @Deadline2 DATE,
    @DanhSachTS NVARCHAR(MAX),
    @NgayDangKy DATETIME = NULL  -- Thêm tham số này (NULL = dùng ngày hiện tại)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @MaKH INT;
    DECLARE @MaHD INT;
    DECLARE @IsNewCustomer BIT = 0;
    
    -- Nếu không truyền ngày, dùng ngày hiện tại
    IF @NgayDangKy IS NULL
        SET @NgayDangKy = GETDATE();
    
    BEGIN TRANSACTION;
    
    BEGIN TRY
        -- 1. Kiểm tra hoặc tạo Khách hàng
        SELECT @MaKH = MaKH FROM KHACHHANG WHERE CCCD = @CCCD;
        
        IF @MaKH IS NULL
        BEGIN
            INSERT INTO KHACHHANG (TenKH, SDT, CCCD, NgayDangKy)
            VALUES (@TenKH, @SDT, @CCCD, @NgayDangKy);  -- Dùng ngày truyền vào
            
            SET @MaKH = SCOPE_IDENTITY();
            SET @IsNewCustomer = 1;
        END
        
        -- 2. Tạo Hợp đồng
        INSERT INTO HOPDONG (MaKH, SoTienVay, Deadline1, Deadline2, NgayLap)
        VALUES (@MaKH, @SoTienVay, @Deadline1, @Deadline2, @NgayDangKy);
        
        SET @MaHD = SCOPE_IDENTITY();
        
        -- 3. Insert tài sản từ JSON
        INSERT INTO CHI_TIET_CAMDO (MaHD, TenTaiSan, GiaTriDinhGia)
        SELECT 
            @MaHD,
            JSON_VALUE(value, '$.ten') AS TenTaiSan,
            CAST(JSON_VALUE(value, '$.gia') AS DECIMAL(15,2)) AS GiaTriDinhGia
        FROM OPENJSON(@DanhSachTS);
        
        COMMIT TRANSACTION;
        
        -- ... (phần SELECT giữ nguyên)
        SELECT 
            @MaHD AS MaHopDongMoi,
            CASE WHEN @IsNewCustomer = 1 THEN N'Tạo mới khách hàng và hợp đồng thành công'
                 ELSE N'Khách hàng đã tồn tại, tạo hợp đồng mới thành công'
            END AS ThongBao;
        
        SELECT MaKH, TenKH, SDT, CCCD, DiaChi, NgayDangKy,
            CASE WHEN @IsNewCustomer = 1 THEN N'Khách hàng mới' ELSE N'Khách hàng cũ' END AS LoaiKhach
        FROM KHACHHANG WHERE MaKH = @MaKH;
        
        SELECT hd.MaHD, hd.MaKH, kh.TenKH, hd.SoTienVay, hd.Deadline1, hd.Deadline2, 
               hd.TrangThaiHD, hd.NgayLap, DATEDIFF(DAY, GETDATE(), hd.Deadline1) AS SoNgayConLaiDenHan1
        FROM HOPDONG hd INNER JOIN KHACHHANG kh ON hd.MaKH = kh.MaKH WHERE hd.MaHD = @MaHD;
        
        SELECT MaCT, MaHD, TenTaiSan, GiaTriDinhGia, TrangThaiTS,
               FORMAT(GiaTriDinhGia, 'N0', 'vi-vn') AS GiaTriDinhGiaFormat
        FROM CHI_TIET_CAMDO WHERE MaHD = @MaHD;
        
        SELECT @MaHD AS MaHopDong,
            (SELECT TenKH FROM KHACHHANG WHERE MaKH = @MaKH) AS TenKhachHang,
            @SoTienVay AS SoTienVay,
            (SELECT COUNT(*) FROM CHI_TIET_CAMDO WHERE MaHD = @MaHD) AS SoLuongTaiSan,
            (SELECT SUM(GiaTriDinhGia) FROM CHI_TIET_CAMDO WHERE MaHD = @MaHD) AS TongGiaTriTaiSan,
            @Deadline1 AS HanThanhToan1, @Deadline2 AS HanThanhToan2;
            
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GiaHanHopDong]    Script Date: 11/05/2026 03:18:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GiaHanHopDong]
    @MaHD INT,
    @NewDeadline1 DATE,
    @NewDeadline2 DATE
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @CurrentDate DATE = CAST(GETDATE() AS DATE);
    DECLARE @Principal DECIMAL(15,2);
    DECLARE @TotalDebt DECIMAL(15,2);
    DECLARE @InterestDue DECIMAL(15,2);
    DECLARE @Status NVARCHAR(50);
    DECLARE @TenKH NVARCHAR(100);
    
    BEGIN TRANSACTION;
    
    BEGIN TRY
        -- 1. Kiểm tra tồn tại & trạng thái hợp đồng
        SELECT @Status = TrangThaiHD, @Principal = SoTienVay
        FROM HOPDONG WHERE MaHD = @MaHD;
        
        IF @Principal IS NULL
        BEGIN
            RAISERROR(N'Hợp đồng số %d không tồn tại!', 16, 1, @MaHD);
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        IF @Status = N'Đã thanh lý tài sản'
        BEGIN
            RAISERROR(N'Tài sản đã thanh lý, không được gia hạn.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        -- 2. Tính tổng nợ & lãi phát sinh
        SET @TotalDebt = dbo.fn_CalcMoneyContract(@MaHD, @CurrentDate);
        SET @InterestDue = @TotalDebt - @Principal;
        
        IF @InterestDue <= 0
        BEGIN
            RAISERROR(N'Không có lãi phát sinh để gia hạn. (Hợp đồng chưa quá hạn)', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        -- 3. Validate deadline mới
        IF @NewDeadline1 <= @CurrentDate OR @NewDeadline2 <= @NewDeadline1
        BEGIN
            RAISERROR(N'Deadline mới phải ở tương lai và Deadline2 > Deadline1.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        -- 4. Ghi nhận tiền lãi vào LOG (Audit Log)
        -- ✅ ĐÃ SỬA: Bổ sung đầy đủ cột NgayGD và LoaiGD để khớp cấu trúc bảng
        INSERT INTO LICH_SU_GIAO_DICH (MaHD, NgayGD, LoaiGD, SoTienTra, NguoiThu, DuNoConLai, GhiChu)
        VALUES (
            @MaHD, 
            GETDATE(), 
            N'Gia hạn hợp đồng',
            @InterestDue, 
            N'Hệ thống', 
            @Principal, 
            N'Thanh toán lãi để gia hạn hợp đồng'
        );
        
        -- 5. Cập nhật deadline & reset trạng thái về "Đang vay"
        UPDATE HOPDONG 
        SET Deadline1 = @NewDeadline1,
            Deadline2 = @NewDeadline2,
            TrangThaiHD = N'Đang vay',
            NgayLap = GETDATE()  -- Ghi nhận ngày gia hạn thực tế
        WHERE MaHD = @MaHD;
        
        -- Lấy tên khách hàng để hiển thị
        SELECT @TenKH = TenKH FROM KHACHHANG k
        INNER JOIN HOPDONG h ON k.MaKH = h.MaKH
        WHERE h.MaHD = @MaHD;
        
        COMMIT TRANSACTION;
        
        -- 6. Trả kết quả
        SELECT 
            N'Gia hạn thành công' AS ThongBao,
            @MaHD AS MaHopDong,
            @TenKH AS TenKhachHang,
            FORMAT(@InterestDue, 'N0', 'vi-vn') AS LaiDaThanhToan_VND,
            @Principal AS GocConLai,
            FORMAT(@Principal, 'N0', 'vi-vn') AS GocConLai_VND,
            @NewDeadline1 AS Deadline1_Moi,
            @NewDeadline2 AS Deadline2_Moi,
            DATEDIFF(DAY, @CurrentDate, @NewDeadline1) AS SoNgayDuocGiaHan;
            
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_XemLichSuThanhToan]    Script Date: 11/05/2026 03:18:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_XemLichSuThanhToan]
    @MaHD INT = NULL  -- NULL = xem tất cả
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        lg.MaGD AS [STT],
        FORMAT(lg.NgayGD, 'dd/MM/yyyy HH:mm') AS [Thời gian],
        lg.LoaiGD AS [Loại giao dịch],
        FORMAT(lg.SoTienTra, 'N0', 'vi-vn') AS [Số tiền trả],
        lg.NguoiThu AS [Người thu],
        FORMAT(lg.DuNoConLai, 'N0', 'vi-vn') AS [Dư nợ còn lại],
        lg.GhiChu AS [Ghi chú]
    FROM LICH_SU_GIAO_DICH lg
    WHERE @MaHD IS NULL OR lg.MaHD = @MaHD
    ORDER BY lg.NgayGD DESC;
    
    -- Tổng hợp
    SELECT 
        COUNT(*) AS TongGiaoDich,
        SUM(SoTienTra) AS TongTienDaThu,
        FORMAT(SUM(SoTienTra), 'N0', 'vi-vn') AS TongTien_VND
    FROM LICH_SU_GIAO_DICH
    WHERE @MaHD IS NULL OR MaHD = @MaHD;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_XuLyTraNo]    Script Date: 11/05/2026 03:18:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_XuLyTraNo]
    @MaHD INT,
    @SoTienTra DECIMAL(15,2),
    @NguoiThu NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @DuNoHienTai DECIMAL(15,2);
    DECLARE @TongNoCanTra DECIMAL(15,2);
    DECLARE @DuSauKhiTra DECIMAL(15,2);
    DECLARE @TrangThai NVARCHAR(50);
    DECLARE @TongGiaTriTaiSan DECIMAL(15,2);
    
    BEGIN TRANSACTION;
    
    BEGIN TRY
        -- 1. Kiểm tra nếu đã thanh lý
        SELECT @TrangThai = TrangThaiHD FROM HOPDONG WHERE MaHD = @MaHD;
        
        IF @TrangThai = N'Đã thanh lý tài sản'
        BEGIN
            RAISERROR(N'Tài sản đã bị thanh lý. Không thu tiền, không trả đồ.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        -- 2. Tính tổng nợ đến hôm nay
        SET @TongNoCanTra = dbo.fn_CalcMoneyContract(@MaHD, CAST(GETDATE() AS DATE));
        SET @DuSauKhiTra = @TongNoCanTra - @SoTienTra;
        
        IF @DuSauKhiTra < 0 
            SET @DuSauKhiTra = 0;
        
        -- 3. Ghi log giao dịch
        INSERT INTO LICH_SU_GIAO_DICH (MaHD, SoTienTra, NguoiThu, DuNoConLai, GhiChu)
        VALUES (@MaHD, @SoTienTra, @NguoiThu, @DuSauKhiTra, N'Thanh toán nợ');
        
        -- 4. Cập nhật trạng thái & hoàn tài sản nếu đủ điều kiện
        IF @DuSauKhiTra = 0
        BEGIN
            UPDATE HOPDONG SET TrangThaiHD = N'Đã thanh toán' WHERE MaHD = @MaHD;
            UPDATE CHI_TIET_CAMDO SET TrangThaiTS = N'Đã trả khách' WHERE MaHD = @MaHD;
            
            SELECT N'Đã thanh toán đủ. Trả toàn bộ tài sản.' AS ThongBao;
        END
        ELSE
        BEGIN
            UPDATE HOPDONG SET TrangThaiHD = N'Đang trả góp' WHERE MaHD = @MaHD;
            
            -- 5. Tính tổng giá trị tài sản đang cầm cố
            SELECT @TongGiaTriTaiSan = SUM(GiaTriDinhGia) 
            FROM CHI_TIET_CAMDO 
            WHERE MaHD = @MaHD AND TrangThaiTS = N'Đang cầm cố';
            
            -- Gợi ý tài sản được trả lại nếu tổng giá trị ≥ dư nợ
            IF @TongGiaTriTaiSan >= @DuSauKhiTra
            BEGIN
                SELECT 
                    c.MaCT,
                    c.TenTaiSan,
                    c.GiaTriDinhGia,
                    FORMAT(c.GiaTriDinhGia, 'N0', 'vi-vn') AS GiaTriFormat
                FROM CHI_TIET_CAMDO c
                WHERE c.MaHD = @MaHD 
                    AND c.TrangThaiTS = N'Đang cầm cố';
            END
            ELSE
            BEGIN
                SELECT N'Chưa đủ giá trị tài sản để trả lại. Tiếp tục cầm cố toàn bộ.' AS ThongBao;
            END
        END
        
        -- 6. Hiển thị thông tin cập nhật
        SELECT 
            @MaHD AS MaHopDong,
            @TongNoCanTra AS TongNoTruocKhiTra,
            @SoTienTra AS SoTienVuaTra,
            @DuSauKhiTra AS DuNoConLai,
            FORMAT(@DuSauKhiTra, 'N0', 'vi-vn') AS DuNoConLai_VND,
            CASE WHEN @DuSauKhiTra = 0 THEN N'Đã thanh toán' ELSE N'Đang trả góp' END AS TrangThaiMoi;
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
